/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* CSS START */
/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* CSS START */
	/*--------------------------
		HERO
		--------------------------*/

#hero {
	width: 100%;
	height: 800px;
	background: url("../img/img2.jpg")center;
	background-size: cover;
	background-attachment: fixed;
}

#hero h1 {
	font-family: 'Dancing Script', cursive;
	text-transform: none;
	font-size: 45px;
	font-weight: 700;
	color: #fff;
	text-shadow: 0px 3px 50px rgba(0, 0, 0, 0.75);
}

#hero h2 {
	color: #eee;
	padding-top: 400px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 300;
	font-family: "Poppins", sans-serif;
	text-shadow: 0px 3px 50px rgba(0, 0, 0, 0.75);
}
	
#hero .efek-ft{
	position: absolute;
	width: 100%;
	height: 800px;
	left: 0px;
	top: 0px;
	background: linear-gradient(180deg, rgba(217, 217, 217, 0) 39.58%, #A3B0C3 100%);
}
	
	
/*--------------------------
	ARRUM	
--------------------------*/
	
#arrum{
	background-color: #1F243A;
	padding: 30px 30px 30px 30px;
	height: 400px;
	color: #fff;
	font-family: 'Scheherazade New', serif;
}
	
#arrum h1{
	font-size: 15px;
}
#arrum h2{
	text-align: center;
	font-size: 10px;
	padding-bottom: 5px;
}
#arrum h3{
	font-family:'Poppins', sans-serif;
	font-size: 10px;
}
	
	
	
	
	/*--------------------------
				COUPLE
		--------------------------*/
#couple{
	height: 1000px;
	background-color: #1F243A;
}

.judul{
	font-size: 45px;
	text-align: center;
	text-transform: none;
	color: #eee;
	font-family: 'Dancing Script', cursive;
	margin-bottom: 75px;
}

.warp-cpl .p-2{
	width: 400px;
}
	
#couple img{
	border-radius: 200px;
	border-width: 5px;
	border-style: solid;
	border-color: #E9A846;
	margin-bottom: 50px;
	width: 150px;
}
	
.ring{
	width: 60px;
}	

.nama{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	font-size: 20px;
	text-transform: none;
	color: #E9A846;
	text-align: center;
}
	
.ortu{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 10px;
	text-transform: none;
	color: #eee;
	text-align: center;
}
	
	
	
		/*--------------------------
					HITUNG MUNDUR dan AKAD
			--------------------------*/
#htg-mndr{
	background-color: #1F243A;
}	

#htg-mndr .container {
	color: #eee;
	text-align: center;
	font-family: 'Dancing Script', cursive;
}

.akad{
	text-align: center;
	padding-bottom: 25px;
}
	
.pembuka{
	color: #eee;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
}
	
.tanggal{
	color: #E9A846;
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
	text-transform: none;
}
	
.hari-h{
	font-family:'Poppins', sans-serif;
	font-size: 15px;
}
	
h1 {
	font-weight: normal;
	letter-spacing: .125rem;
	text-transform: uppercase;
}

li {
	display: inline-block;
	font-size: 1.5em;
	list-style-type: none;
	padding: 1em;
	text-transform: uppercase;
}
	
li span {
	display: block;
	font-size: 4.5rem;
}

@media all and (max-width: 768px) {
	h1 {
		font-size: calc(1.5rem * var(--smaller));
	}
	
	li {
		font-size: calc(1.125rem * var(--smaller));
	}
	
	li span {
		font-size: calc(3.375rem * var(--smaller));
	}
}

.ingat{
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	width: 120px;
	height: 23px;
	border-radius: 10px;
	background-color: #E9A846;
	text-align: center;
	color: black;
}
	
	
	

/*--------------------------
			MAPS
	--------------------------*/
#maps{
	height: 500px;
	background-color: #1F243A;
}
	
#maps .jdl{
	padding-top: 70px;
	font-family: 'Dancing Script', cursive;
	color: #eee;
	font-size: 45px;
	align-items: center;
	text-transform: none;
}

iframe{
	width: 400px;
	height: 200px;
	border-radius: 20px;
	border: 5px solid;
	border-color: #E9A846;
	margin: 10px;
}
	
#maps h2{
	color: #eee;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
}
	
#maps h3{
	color: #E9A846;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	text-align: center;
	padding-bottom: 15px;
}
	
.map{
	font-family: 'Poppins', sans-serif;
	border-radius: 10px;
	width: 150px;
	height: 23px;
	font-size: 15px;
	color: black;
	text-decoration: none;
	background-color: #E9A846;
	text-align: center;
}
	
	
		/*--------------------------
					GALERI
			--------------------------*/
			
#galeri{
	height: 1000px;
	background-color: #1F243A;
	padding-top: 150px;
}
	
#galeri h1{
	font-family:'Dancing Script', cursive;
	color: #eee;
	font-size: 45px;
	text-align: center;
	text-transform: none;
	padding-bottom: 30px;
}
	
#galeri img{
	width: 200px;
	border-radius: 20px;
	margin: 5px;
	
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
}
	
#galeri img:hover{
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
}

.authorr{
	height: 100px;
	background-color: #A3B0C3;
}
	
.ig{
	font-size: 10px;
	text-align: center;
}
	
.spesial{
	font-size: 10px;
	text-align: center;
}

@media only screen and (min-width: 1080px) {
	/*--------------------------
		HERO
		--------------------------*/

	#hero {
		width: 100%;
		height: 1080px;
		background: url("../img/hero.JPG") top center;
		background-size: cover;
		background-attachment: fixed;
	}

	#hero h1 {
		font-family: 'Dancing Script', cursive;
		text-transform: none;
		font-size: 82px;
		font-weight: 700;
		line-height: 56px;
		color: #fff;
		text-shadow: 0px 3px 50px rgba(0, 0, 0, 0.75);
	}

	#hero h2 {
		color: #eee;
		padding-top: 400px;
		margin-bottom: 10px;
		font-size: 24px;
		font-weight: 300;
		font-family: "Poppins", sans-serif;
		text-shadow: 0px 3px 50px rgba(0, 0, 0, 0.75);
	}

	#hero .efek-ft{
		position: absolute;
		width: 100%;
		height: 1080px;
		left: 0px;
		top: 0px;

		background: linear-gradient(180deg, rgba(217, 217, 217, 0) 39.58%, #A3B0C3 100%);
	}


	/*--------------------------
		ARRUM	
		--------------------------*/

	#arrum{
		background-color: #1F243A;
		padding: 30px 30px 30px 30px;
		height: 800px;
		color: #fff;
		font-family: 'Scheherazade New', serif;
	}

	#arrum h1{
		font-size: 45px;
	}
	#arrum h2{
		font-size: 35px;
		padding-bottom: 25px;
	}
	#arrum h3{
		font-family:'Poppins', sans-serif;
		font-size: 25px;
	}




	/*--------------------------
				COUPLE
		--------------------------*/
	#couple{
		height: 800px;
		background-color: #1F243A;
	}

	.judul{
		font-size: 75px;
		text-align: center;
		text-transform: none;
		color: #eee;
		font-family: 'Dancing Script', cursive;
		margin-bottom: 75px;
	}

	.warp-cpl .p-2{
		width: 400px;
	}

	#couple img{
		border-radius: 200px;
		border-width: 5px;
		border-style: solid;
		border-color: #E9A846;
		margin-bottom: 50px;
		width: 200px;
	}

	.ring{
		width: 125px;
		margin-top: -150px;
	}

	.nama{
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 600;
		font-size: 30px;
		text-transform: none;
		color: #E9A846;
		text-align: center;
	}

	.ortu{
		font-family: 'Poppins', sans-serif;
		font-weight: 400;
		font-size: 15px;
		text-transform: none;
		color: #eee;
		text-align: center;
	}



	/*--------------------------
				HITUNG MUNDUR dan AKAD
		--------------------------*/
	#htg-mndr{
		background-color: #1F243A;
	}	

	#htg-mndr .container {
		color: #eee;
		text-align: center;
		font-family: 'Dancing Script', cursive;
	}

	.akad{
		text-align: center;
		padding-bottom: 75px;
	}

	.pembuka{
		color: #eee;
		font-family: 'Poppins', sans-serif;
		font-size: 24px;
	}

	.tanggal{
		color: #E9A846;
		font-family: 'Dancing Script', cursive;
		font-size: 58px;
		text-transform: none;
	}

	.hari-h{
		font-family:'Poppins', sans-serif;
		font-size: 25px;
	}

	h1 {
		font-weight: normal;
		letter-spacing: .125rem;
		text-transform: uppercase;
	}

	li {
		display: inline-block;
		font-size: 1.5em;
		list-style-type: none;
		padding: 1em;
		text-transform: uppercase;
	}

	li span {
		display: block;
		font-size: 4.5rem;
	}

	@media all and (max-width: 768px) {
		h1 {
			font-size: calc(1.5rem * var(--smaller));
		}
		
		li {
			font-size: calc(1.125rem * var(--smaller));
		}
		
		li span {
			font-size: calc(3.375rem * var(--smaller));
		}
	}

	.ingat{
		font-family: 'Poppins', sans-serif;
		width: 150px;
		height: 30px;
		border-radius: 10px;
		background-color: #E9A846;
		text-align: center;
		color: black;
	}




	/*--------------------------
				MAPS
		--------------------------*/
	#maps{
		height: 700px;
		background-color: #1F243A;
	}

	#maps .jdl{
		padding-top: 100px;
		font-family: 'Dancing Script', cursive;
		color: #eee;
		font-size: 75px;
		align-items: center;
		text-transform: none;
	}

	iframe{
		width: 600px;
		height: 400px;
		border-radius: 20px;
		border: 5px solid;
		border-color: #E9A846;
		margin: 30px;
	}

	#maps h2{
		color: #eee;
		font-family: 'Poppins', sans-serif;
		font-size: 25px;
	}

	#maps h3{
		color: #E9A846;
		font-family: 'Poppins', sans-serif;
		font-size: 20px;
		padding-bottom: 25px;
	}

	.map{
		font-family: 'Poppins', sans-serif;
		border-radius: 10px;
		width: 180px;
		height: 30px;
		font-size: 20px;
		color: black;
		text-decoration: none;
		background-color: #E9A846;
		text-align: center;
	}


	/*--------------------------
				GALERI
		--------------------------*/
	#galeri{
		height: 1000px;
		background-color: #1F243A;
		padding-top: 150px;
	}

	#galeri h1{
		font-family:'Dancing Script', cursive;
		color: #eee;
		font-size: 75px;
		text-align: center;
		text-transform: none;
		padding-bottom: 30px;
	}
		
	#galeri img{
		width: 350px;
		border-radius: 20px;
		margin: 20px;
		
		-webkit-transition: 0.4s ease;
		transition: 0.4s ease;
	}

	#galeri img:hover{
		-webkit-transform: scale(1.08);
		transform: scale(1.08);
	}

	.authorr{
		height: 100px;
		background-color: #A3B0C3;
	}

	.ig{
		font-size: 15px;
		text-align: center;
	}

	.spesial{
		font-size: 8px;
		text-align: center;
	}
}
