/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* CSS START */

/*--------------------------
	HERO
	--------------------------*/

#hero {
  width: 100%;
  height: 1080px;
  background: url("../img/hero.JPG") top center;
  background-size: cover;
	background-attachment: fixed;
}

#hero h1 {
	font-family: 'Dancing Script', cursive;
	text-transform: none;
  font-size: 82px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
	text-shadow: 0px 3px 50px rgba(0, 0, 0, 0.75);
}

#hero h2 {
  color: #eee;
	padding-top: 400px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
	text-shadow: 0px 3px 50px rgba(0, 0, 0, 0.75);
}

#hero .efek-ft{
	position: absolute;
	width: 100%;
	height: 1080px;
	left: 0px;
	top: 0px;

	background: linear-gradient(180deg, rgba(217, 217, 217, 0) 39.58%, #A3B0C3 100%);
}


/*--------------------------
	ARRUM	
	--------------------------*/

#arrum{
	background-color: #1F243A;
	padding: 30px 30px 30px 30px;
	height: 800px;
	color: #fff;
	font-family: 'Scheherazade New', serif;
}

#arrum h1{
	font-size: 45px;
}
#arrum h2{
	font-size: 35px;
	padding-bottom: 25px;
}
#arrum h3{
	font-family:'Poppins', sans-serif;
	font-size: 25px;
}




/*--------------------------
			COUPLE
	--------------------------*/
#couple{
	height: 800px;
	background-color: #1F243A;
}

.judul{
	font-size: 75px;
	text-align: center;
	text-transform: none;
	color: #eee;
	font-family: 'Dancing Script', cursive;
	margin-bottom: 75px;
}

.warp-cpl .p-2{
	width: 400px;
}

#couple img{
	border-radius: 200px;
	border-width: 5px;
	border-style: solid;
	border-color: #E9A846;
	margin-bottom: 50px;
	width: 200px;
}

.ring{
	width: 125px;
	margin-top: -150px;
}

.nama{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-transform: none;
	color: #E9A846;
	text-align: center;
}

.ortu{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 15px;
	text-transform: none;
	color: #eee;
	text-align: center;
}




/*--------------------------
			HITUNG MUNDUR
	--------------------------*/
#htg-mndr{
	padding-top: 200px;
	height: 600px;
	background-color: #1F243A;
}	

#htg-mndr .container {
	color: #eee;
	text-align: center;
}

h1 {
	font-weight: normal;
	letter-spacing: .125rem;
	text-transform: uppercase;
}

li {
	display: inline-block;
	font-size: 1.5em;
	list-style-type: none;
	padding: 1em;
	text-transform: uppercase;
}

li span {
	display: block;
	font-size: 4.5rem;
}

@media all and (max-width: 768px) {
	h1 {
		font-size: calc(1.5rem * var(--smaller));
	}
	
	li {
		font-size: calc(1.125rem * var(--smaller));
	}
	
	li span {
		font-size: calc(3.375rem * var(--smaller));
	}
}

.ingat{
	font-family: 'Poppins', sans-serif;
	width: 120px;
	height: 30px;
	border-radius: 10px;
	background-color: #E9A846;
	text-align: center;
	color: black;
}




/*--------------------------
			MAPS
	--------------------------*/
#maps{
	height: 900px;
	background-color: #1F243A;
}

iframe{
	border-radius: 20px;
	border: 10px solid;
	border-color: #E9A846;
}



/*--------------------------
			GALERI
	--------------------------*/
	#galeri{
		height: 1000px;
		background-color: #1F243A;
		padding-top: 150px;
	}
	
	#galeri img{
		width: 350px;
		border-radius: 20px;
		margin: 20px;
	}